esphome:
  name: warmwasserspeicher
  friendly_name: ESP32 Warmwasserspeicher Gastherme

esp32:
  board: esp32dev
  framework:
    type: arduino

# Enable logging
logger:

# Hier sagen wir ESPHome, dass es die lokalen Dateien nutzen soll
external_components:
  - source:
      type: local
      path: my_components

# Enable Home Assistant API
api:
  encryption:
    key: !secret haapi_password

ota:
  - platform: esphome
    password: !secret ota_password

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  reboot_timeout: 15min

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Warmwasserspeicher"
    password: !secret ap_password

mqtt:
  broker: 192.168.178.91
  port: 1883
  username: !secret "mqtt_username"
  password: !secret "mqtt_password"
  discovery: false

# 1-Wire BUS an GPIO 4
one_wire:
  - platform: gpio
    pin: GPIO4
    id: dallas_bus

sensor:
  # Sensor 1: Warmwasser Oben
  - platform: dallas_temp
    address: 0xf74bc78711646128
    name: "Temperatur Warmwasserspeicher Oben"
    id: TDHWO
    update_interval: 60s
    on_value:
      then:
        - mqtt.publish:
            topic: "S40C/T/D/H/WO"
            payload: !lambda 'return str_sprintf("%.2f", x);'
            retain: true
            qos: 1

  # Sensor 2: Warmwasser Mitte
  - platform: dallas_temp
    address: 0xd56dc98711646128
    name: "Temperatur Warmwasserspeicher Mitte"
    id: TDHWM
    update_interval: 60s
    on_value:
      then:
        - mqtt.publish:
            topic: "S40C/T/D/H/WM"
            payload: !lambda 'return str_sprintf("%.2f", x);'
            retain: true
            qos: 1

  # Sensor 3: Warmwasser Unten
  - platform: dallas_temp
    address: 0xd4041670cdc5ff28
    name: "Temperatur Warmwasserspeicher Unten"
    id: TDHWU
    update_interval: 60s
    on_value:
      then:
        - mqtt.publish:
            topic: "S40C/T/D/H/WU"
            payload: !lambda 'return str_sprintf("%.2f", x);'
            retain: true
            qos: 1

  # Custom DS2438 Sensor
  - platform: ds2438
    one_wire_id: dallas_bus
    address: 0x0e000001766f4226
    update_interval: 60s

    # Temperatur
    temperature:
      name: "Temperatur Haube Warmwasserspeicher"
      unit_of_measurement: "°C"
      accuracy_decimals: 1
      on_value:
        then:
          - mqtt.publish:
              topic: "S40C/T/D/W/7I"
              payload: !lambda 'return str_sprintf("%.2f", x);'
              retain: true
              qos: 1

    # Spannung 1: VAD (Titanelektrode gegen Gehäuse)
    voltage:
      name: "Korrosionsschutzspannung"
      unit_of_measurement: "V"
      accuracy_decimals: 2
      on_value:
        then:
          - mqtt.publish:
              topic: "S40C/V/D/W/SI"
              payload: !lambda 'return str_sprintf("%.2f", x);'
              retain: true
              qos: 1

    # Spannung 2: VDD (Bus Versorgungsspannung)
    bus_voltage:
      name: "Versorgungsspannung Bus"
      unit_of_measurement: "V"
      accuracy_decimals: 2
      on_value:
        then:
          - mqtt.publish:
              topic: "S40C/V/D/W/VI"
              payload: !lambda 'return str_sprintf("%.2f", x);'
              retain: true
              qos: 1

captive_portal: